* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: 0;
    list-style: none;
}

body {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image:url(https://png.pngtree.com/background/20211215/original/pngtree-modern-simple-elegant-landing-page-website-background-picture-image_1455134.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header .bar {
    width: 100;
    height: 36px;
    background-color: #009933;
    position:sticky;
    top:0;

}

header .thong_tin img {
    width: 40%;
    border-right:5px solid #009933;
    border-bottom: 5px solid #009933;
}

header .thong_tin {
    display: flex;
}

header .thong_tin div {
    margin-left: 10%;
    margin-top: 80px;
}

header .thong_tin div h3 {
    font-size: 60px;
    color: #009933;
}

header .thong_tin div p {
    font-size: 30px;
    margin-top: 25px;
    color:#006633;
    font-weight: 400;
}

.hr {
    width: auto;
    height: 5px;
    background-color:  #009933;
    margin-top: 36px;
    margin-right: 15%;
    margin-left: 15%;
}
main  {
    margin-top: 36px;
}

main .content_1 {
    display: flex;
    justify-content:space-around;
}

main .content_1 div h2 {
    font-size: 35px;
    color: #009933;
}

main .content_1 div p {
    font-size: 30px;
    color: #006633;
}

main .content_1 div ul {
    padding-left: 36px;
    margin-top: 25px;
    color: #006633;
    font-size: 25px;
}

.iframe {
    margin-top: 36px;
    text-align: center;
    padding-bottom: 36px;
}
iframe  {
    border: #009933 5px solid;
}



